{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
  - port: {{ .Values.prometheus.port }}
    targetPort: {{ .Values.prometheus.port }}
    protocol: TCP
    name: http
  selector:
    app: prometheus
{{- end }}
